In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# without CrossValidation

In [9]:
#by changing random state accuracy will change alot
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=10)
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(x_train,y_train)
y_pred = knn_model.predict(x_test)
accuracy_score(y_test,y_pred)

0.87

# with K-Fold Cross validation

# a} KNN model

In [10]:
from sklearn.model_selection import cross_val_score  #k-fold cross validation

In [11]:
n = X.shape[0]

In [12]:
print(n)

400

In [13]:
knn_model = KNeighborsClassifier(n_neighbors=5)
scores = cross_val_score(knn_model,X,y,cv=20, scoring='accuracy')
print('scores = ',scores)
print('Avg Score = ',scores.mean())

scores =  [0.7  0.8  0.9  0.95 0.9  0.8  0.75 1.   0.9  0.65 0.75 0.55 0.8  0.6
 0.8  0.85 0.75 0.7  0.8  0.65]
Avg Score =  0.78

In [15]:
knn_model.fit(x_train,y_train)
knn_model.score(x_train,y_train)

0.8766666666666667

# b}logistic regression model

In [25]:
from sklearn.linear_model import LogisticRegression
logreg_model = LogisticRegression()
scores = cross_val_score(logreg_model,X, y,cv=10, scoring='accuracy')
print('scores = ',scores)
print('Avg Score = ',scores.mean())

scores =  [0.65  0.65  0.65  0.65  0.65  0.65  0.65  0.625 0.625 0.625]
Avg Score =  0.6425000000000001

# 2} stratified k-fold CV

In [26]:
from sklearn.model_selection import StratifiedKFold

In [30]:
skf = StratifiedKFold(n_splits=5)
scores = []
for train_index, test_index in skf.split(X,y):
    X_train,X_test = X.iloc[train_index],X.iloc[test_index]
    y_train,y_test = y[train_index],y[test_index]
    
    knn_model = KNeighborsClassifier(n_neighbors=5)
    knn_model.fit(X_train,y_train)
    y_pred=knn_model.predict(X_test)
    score = accuracy_score(y_test,y_pred)
    scores.append(score)

print('scores = ',scores)
print('Avg Score = ',np.array(scores).mean())

scores =  [0.8125, 0.8625, 0.725, 0.7625, 0.675]
Avg Score =  0.7674999999999998